@{
    ViewBag.Title = "Home Page";
    Random rnd = new Random();
    int go = rnd.Next(1, 3);
}

<div class="jumbotron">
    <h1>ASP.NET</h1>

    <p class="lead">1: Electronic page | not 1 : Clother page</p>

    <p>
        <a href="@if (go == 1)
                 {
                     @Url.Action("Index","Electronics")
                 }
                 else
                 {
                     @Url.Action("Index","Clothers")
                 }" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
    <p class="lead">@go </p>
</div>

<div class="row">

</div>