
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Electronic</h2>
<div class="row">
    <div class="col-md-3 ">
        @Html.Action("CategoryElectronicPartial")
    </div>



    <div class="col-md-9">
        <div class="col-md-4">
            <div class="col-item">
                <div class="photo">
                    <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                </div>
                <div class="info">
                    <div class="row">
                        <div class="price col-md-6">
                            <h5>
                                Sample Product
                            </h5>
                            <h5 class="price-text-color">
                                $199.99
                            </h5>
                        </div>
                    </div>
                    <div class="separator clear-left">
                        <p class="btn-add">
                            <a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a>
                        </p>
                        <p class="btn-details">
                            <a href="http://www.jquery2dotnet.com" class="hidden-sm">More details</a>
                        </p>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="col-item">
                <div class="photo">
                    <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                </div>
                <div class="info">
                    <div class="row">
                        <div class="price col-md-6">
                            <h5>
                                Sample Product
                            </h5>
                            <h5 class="price-text-color">
                                $199.99
                            </h5>
                        </div>
                    </div>
                    <div class="separator clear-left">
                        <p class="btn-add">
                            <a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a>
                        </p>
                        <p class="btn-details">
                            <a href="http://www.jquery2dotnet.com" class="hidden-sm">More details</a>
                        </p>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="col-item">
                <div class="photo">
                    <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                </div>
                <div class="info">
                    <div class="row">
                        <div class="price col-md-6">
                            <h5>
                                Sample Product
                            </h5>
                            <h5 class="price-text-color">
                                $199.99
                            </h5>
                        </div>
                    </div>
                    <div class="separator clear-left">
                        <p class="btn-add">
                            <a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a>
                        </p>
                        <p class="btn-details">
                            <a href="http://www.jquery2dotnet.com" class="hidden-sm">More details</a>
                        </p>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


