
@model IEnumerable<BTSession03.Models.Category>

<div class="list-group">
    <span href="#" class="list-group-item active">
        Category
    </span>
    @foreach (var category in Model)
    {
        <a href="#" class="list-group-item">
            @category.Name
        </a>
    }
    
</div>
